Port 22
Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /etc/ssh/authorized_keys
#RSAAuthentication yes
PubkeyAuthentication yes
PasswordAuthentication no
StrictModes no
